<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Gian\Wms\Api\Data\WmsResponseLoggerDataInterface"
                type="Gian\Wms\Model\Data\WmsResponseLogger"/>
    <preference for="Gian\Wms\Api\WmsResponseLoggerRepositoryInterface"
                type="Gian\Wms\Model\WmsResponseLoggerRepository"/>
</config>
